
<div id="contenedor">
<div id="uno" class="card" style="width: 18rem;">
    <img src="assets/fondolaptop.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ASUS Chromebook C202SA-YS04</h5>
      <p class="card-text">
        ASUS Chromebook C202SA-YS04 11.6"  (Intel Celeron 4GB RAM, 32GB eMMC, Dark Blue)</p>
      <a href="#" class="btn">Add to Cart</a>
      
    </div>
  </div>
  <div id="dos" class="card" style="width: 18rem;">
    <img src="assets/fondolaptop.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ASUS Chromebook C202SA-YS04</h5>
      <p class="card-text">
        ASUS Chromebook C202SA-YS04 11.6"  (Intel Celeron 4GB RAM, 32GB eMMC, Dark Blue)</p>
      <a href="#" class="btn">Add to Cart</a>
      
    </div>
  </div>
  <div id="tres" class="card" style="width: 18rem;">
    <img src="assets/fondolaptop.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ASUS Chromebook C202SA-YS04</h5>
      <p class="card-text">
        ASUS Chromebook C202SA-YS04 11.6"  (Intel Celeron 4GB RAM, 32GB eMMC, Dark Blue)</p>
      <a href="#" class="btn">Add to Cart</a>
      
    </div>
  </div>
  <div id="cuatro" class="card" style="width: 18rem;">
    <img src="assets/fondolaptop.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ASUS Chromebook C202SA-YS04</h5>
      <p class="card-text">
        ASUS Chromebook C202SA-YS04 11.6"  (Intel Celeron 4GB RAM, 32GB eMMC, Dark Blue)</p>
      <a href="#" class="btn">Add to Cart</a>
      
    </div>
  </div>
 </div>
<!--
<div id="contenedor">
<div id="uno"><app-products></app-products></div>
<div id="dos"><app-products></app-products></div>
<div id="tres"><app-products></app-products></div>
<div id="cuatro"><app-products></app-products></div>
</div>

#contenedor{
    width: 1000px;
    height: 350px;
    padding: 15px;

}
#uno{
height: 300px;
width: 250px;
float: left;
}
#dos{
    height: 300px;
width: 250px;
float: left;
}
#tres{
    height: 300px;
width: 250px;
float: left;
}
#cuatro{
    height: 300px;
width: 250px;
float: right;
}-->