<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<nav>
    <ul class="nombre">
      <a href="http://localhost:4200/bienvenida"> La Mandarina </a>
</ul> 
  </nav>
<nav>
  <ul>
      
      <li style="float:right"><a class="active" href="index.html">
          <i class="fa fa-user"></i> Log Out</a></li>
          <li class="objetos"><a href="home.html"><i class="fa fa-home"></i> Home</a></li>
            <li class="objetos"><a href="products.html"><i class="fa fa-book"></i> Categorias</a></li>
      <li style="float:right"><a href="checkout.html"><i class="fa fa-shopping-cart"></i></a></li>
      <form class="search-form">
          <input type="text" placeholder="Search">
          <button>Search</button>
      </form>
  </ul>
  </nav>
  
